@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Oswald:wght@200;300;400;500&family=PT+Sans+Narrow&display=swap');
/*selector universal */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden; 
}


/* clases  propias para bootstrap*/

.positions-fixed {
  position: fixed;
  width: 100%;
  z-index: 999;

}
.redes{
margin-right: 2.5em;
margin-bottom: 2.6em;
width: 1.875em;

}
.img-carusel {
  height: 30em;
  width: 100%;  
  object-fit: cover;
  margin-top: 8em;
 
  
}




 .nav-shadow {
  box-shadow:  rgba(0, 0, 0, 0.1) 0px 4px 12px;
 }

.baner-shadow {
  box-shadow:  rgba(0, 0, 0, 0.1) 0px 6px 12px;
}
.borderblack {
  border: #000000 solid 1px;
}

.bg-blanco{
  background-color: white;
}
.bg-black{
  background-color: #000000;
}
.font-letra{
  font-size: 2em;
}
/* ESTILO PARA TODAS LAS PAGINAS*/




body {
  margin: 0;

  background-color: white;
  padding: 0;
}

a {
  text-decoration: none;
}

table tr td a {
  text-decoration: none;
}

footer {
  background-color: #000000;
  width: 100%;
  height: 8em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 2em;
}

.info-footer{
padding-top: 0px;
padding-bottom: 30px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

header {
  width: 100vw;
}
/*.lista-nav {}]*/


.logo {
  display: flex;
  justify-content: center;
  padding-bottom: 4%;
  padding-top: 1%;
}

.hover-todo:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;

  font-size: 1.5em;
}

.letra-nanum{
  font-family: 'Nanum Myeongjo', serif;
}
a {
  color: white;
}

.texto-blanco {
  color: white;
}

.texto.black {
  color: #000000;
}
.letra-narrow{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* ESTILOS PARA INDEX*/



/* accesos a redes en index*/

/*imagenes de accesos a redes */
.imagenes-accesos {
  width: 2em;
  height: 3em;
  margin-bottom: 0.5rem;
  padding-top: 1em;
}


/* titulo del medio*/

aside {
  background-color: white;
  display: flex;

  ;
}

.cajas-index {
  width: 50%;
  height: 5em;
  padding-top: 2em;
  margin-left: 1em;
}

/* ESTILO PARA ABOUT US*/



.img-objet-fit{
 object-fit: cover;
  width: 100%;
  height: 20em;
  
}


body {
  overflow-x: hidden;
}

/* artes styles*/


.main-artes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 20% auto;
}

.caja-inline {
  display: inline;
  display: flex;
  flex-direction: row;
}

.img-artes {
  border: solid #000000 2px;
  width: 70em;
  height: 25em;
  object-fit: cover;
  
  
 
}

/* Diseno styles*/
.botones-artistas {
  width: 70% ;
  border-radius: 30px;
 margin-left: 10%;
 height: auto;
 
}


/*UNETE styles*/

.img-100 {
padding-left: 0% !important;
padding-right: 0% !important;
}

/* formulario de unete.html*/

.contenedor-form {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-content: center;
  

}

label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Open sans";
  font-size: 20px;
  padding: 1em 0;
}

input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 21.875em;
  padding: 0.75em;
  border-radius: 0.5em;
}
  


.boton-enviar {
  margin: 2em 0;
  width: 70%;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}
